pkgbase = liveboat
	pkgdesc = Static page generator for Newsboat feeds
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/exaroth/liveboat
	arch = x86_64
	license = MIT
	makedepends = rust
	source = https://github.com/exaroth/liveboat/archive/refs/tags/v1.0.0.tar.gz
	md5sums = 0ee4fd359d8e64e0d08245ca657ed745

pkgname = liveboat
